* {
  font-family: 'Londrina Outline', cursive;
  background-color:rgb(204, 249, 255);
}

body {
  text-align:center;
  justify-content: center;
  align-items: center;
  padding-top:2.5em;
 display:flex;
 flex-direction: column;
 
}

.header {
  display:flex;

  justify-content:center;
  align-items: center;
  text-align:center;
   position: relative;
  bottom:1.75em;
  left:1em;
}

.title {
  font-weight: bolder;
  font-size:3em;
  opacity:0.8;
  text-align: center;
  position: relative;
  left:0.25em;
}

.reset-btn {
  border:none;
  background-color:inherit;
  font-size:2.5em;
  opacity:.6;
  padding-left:1em;
  position: relative;
  left:1em;
}


.grid {
  background-color:white;
  margin-top: 5px;
  margin-right: 40px;
  display: inline-grid;

  border: 5px solid rgb(53, 52, 52);
  border-radius: 5px;
  height: 500px;
  width: 575px;
  position: relative;
  bottom:3em;
  left:1em;
}

.cell {
  background-color: white;
  border: 1px solid black;
}

.color {
  background-color: rgb(172, 172, 172);
  border: 1px solid black;
}

footer{
font-family: 'Courier New', Courier, monospace;
color: black;
background-color:inherit;

padding:1em;
font-size:19px;
text-decoration: bolder;


width:100%;
text-align: center;
align-items: center;
justify-content: center;
}

/* Media Inqueries */


/***MOBILE (wide) ****/

@media screen and (max-width:575px) {

body{
  padding-top:1.5em;
  position: relative;
  right:20px;
}
  .grid {
    width:375px;
    position: relative;
    bottom:3em;
    left:2.15em;
  }

.header {
 position: relative;
 left:0em;
 right:1em;
}

.title {
  font-weight: bolder;
  font-size:3em;
  opacity: .8;
  text-align: center;
  position: relative;
  left:1.1em;
}

.reset-btn {
  border:none;
  background-color:inherit;
  font-size:2em;
  opacity:.6;
  position: relative;
  left:2.9em;
  bottom:0px;
}

  footer{
    font-size:15px;
    position: relative;
    bottom:1em;
    left:1.1em;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

/* mobile (narrow)**** */

@media screen and (max-width: 440px) {


 body {
   padding-top:0.5em;
 }
  .reset-btn{
    position: relative;
    left:0.75em;
  }

  .title {
    left:1.5em;
  }
  .grid {
    width:365px;
    position: relative;
    left:2.5em;
  }



}