* {
  font-family: 'Londrina Outline', cursive;
  background-color:rgb(204, 249, 255);
}

body {
  text-align:center;
  justify-content: center;
  align-items: center;
  padding-top:1em;
  display: flex;
  flex-direction: column;
}

.header {
  display:flex;

  justify-content:center;
  align-items: center;
  text-align:center;
   position: relative;
  bottom:1.75em;
  left:1em;
}

.title {
  font-weight: bolder;
  font-size:3em;
  opacity:.7;
  text-align: center;
  position: relative;
  left:0.25em;
}

.reset-btn {
  border:none;
  background-color:inherit;
  font-size:2.5em;
  opacity:.6;
  padding-left:1em;
  position: relative;
  left:1em;
}

/* grid */
.container {
  background-color:white;
  margin-top: 5px;
  margin-right: 40px;
  display: inline-grid;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  border: 5px solid rgb(53, 52, 52);
  border-radius: 5px;
  height: 500px;
  width: 575px;
  position: relative;
  bottom:3em;
  left:1em;
}

.cell {
  background-color: white;
  border: 1px solid black;
}

.color {
  background-color: rgb(172, 172, 172);
  border: 1px solid black;
}

footer{
font-family: 'Courier New', Courier, monospace;
color: black;
background-color:inherit;

padding:1em;
font-size:19px;
text-decoration: bolder;


width:100%;
text-align: center;
align-items: center;
justify-content: center;
}



/***MOBILE (portrait) responsive ****/

@media screen and (max-width:421px) {

  .container{
    width:375px;
    position: relative;
    bottom:3em;
    left:2.5em;
  
  }

  .header {

  
  text-align:center;
   position: relative;
  bottom:1.75em;
  left:1em;
}

.title {
  font-weight: bolder;
  font-size:3em;
  opacity:.7;
  text-align: center;
  position: relative;
  left:0.25em;
}

.reset-btn {
  border:none;
  background-color:inherit;
  font-size:2.5em;
  opacity:.6;

  position: relative;
left:0;
  
}


  footer{
    font-size:15px;
    position: relative;
    bottom:2em;
    left:1.5em;
    text-align: center;
align-items: center;
justify-content: center;

  }
}



